*
{
    font-family: serif;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
}

window#waybar
{
    background: rgba(20, 20, 20, 0.8);
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left > widget:first-child > #workspaces
{
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces
{
    margin-right: 0;
}

#tray menu
{
    background: #000000;
    border: 1px solid white;
    color: #ffffff;
}

#workspaces button.empty
{
    color: #444444;
}

#workspaces button.active,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-power
{
    color: #ffffff;
}

#workspaces button:hover
{
    background: #aa00aa;
    border: 1px solid black;
    color: #ffffff;
}


#workspaces button
{
    color: #aa00aa;
}

